* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

.hidden-xs {
  display: none;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header-main-fluid {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3dcdbc), color-stop(#2bc3c0), color-stop(#22b8c2), color-stop(#27adc1), to(#33a2bd));
  background-image: linear-gradient(to right bottom, #3dcdbc, #2bc3c0, #22b8c2, #27adc1, #33a2bd);
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 15px;
}

.header-main > img {
  width: 70%;
  max-width: 260px;
}

.header-main > div {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-main > div > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.header-main > div > p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  line-height: 2;
  padding: 15px;
}

.header-main > div > a {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 400;
  padding: 13px;
  text-transform: uppercase;
  color: #2bc3c0;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
}

.clients {
  background-color: rgba(241, 241, 241, 0.856);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients > img {
  padding: 30px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.header > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  padding: 15px;
}

.header > p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  line-height: 2;
}

.header > a {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 400;
  padding: 10px;
  margin: 15px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #07c284;
}

.header-grey {
  background-color: rgba(241, 241, 241, 0.856);
}

.header-dark {
  background-color: #3a3939;
}

.header-dark > h2,
.header-dark a {
  color: #fff;
}

.header-dark > p {
  color: rgba(241, 241, 241, 0.856);
}

.header-dark > a {
  background-color: #3a3939;
  border-style: solid;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer {
  background-color: #fff;
  width: 60%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
}

.offer > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.offer > p {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  padding: 15px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products > :first-child {
  background-color: coral;
}

.products > :nth-child(2) {
  background-color: violet;
}

.products > :nth-child(3) {
  background-color: gainsboro;
  height: 500px;
}

.products > :nth-child(4) {
  background-color: lightgreen;
}

.products > :last-child {
  background-color: darkgreen;
}

.products div {
  width: 100% vw;
  height: 250px;
  margin: 20px;
}

.recomendations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(241, 241, 241, 0.856);
}

.recomendations > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.recomendations > div > div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recomendations > div > div h3 {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  padding: 15px;
  font-style: italic;
}

.recomendations > div > div p {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  font-style: italic;
}

.circle {
  background-color: gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #3a3939;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.map > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.map > div > h2 {
  text-align: center;
  color: #fff;
}

.map > div > p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  line-height: 2;
}

.map > div > a {
  color: aqua;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  padding: 3px;
}

.text {
  color: grey;
}

.contact > p {
  color: aqua;
}

.footer {
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer > p {
  display: block;
  color: gray;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  line-height: 2;
}

.footer a {
  color: aqua;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .hidden-xs {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .hidden-sm {
    display: block;
  }
  .hidden-md {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .hidden-md {
    display: block;
  }
  .hidden-lg {
    display: none;
  }
  .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 15px;
    height: 100vh;
  }
  .header-main > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-main > div > p {
    text-align: start;
  }
  .header-main > div > a {
    text-align: start;
  }
  .header-main > div h2 {
    text-align: start;
  }
  .header-main > img {
    max-width: 300px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .hidden-lg {
    display: block;
  }
  .hidden-xl {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */