// ===============================BASE=====================================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden{
  display: none;
}

$background-grey: rgba(241, 241, 241, 0.856);
$background-dark: rgb(58, 57, 57);

@font-face {
  font-family: 'icomoon';
  src:  url('../icomoon/fonts/icomoon.eot?loo5ib');
  src:  url('../icomoon/fonts/icomoon.eot?loo5ib#iefix') format('embedded-opentype'),
    url('../icomoon/fonts/icomoon.ttf?loo5ib') format('truetype'),
    url('../icomoon/fonts/icomoon.woff?loo5ib') format('woff'),
    url('../icomoon/fonts/icomoon.svg?loo5ib#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
// =============================HEADER-MAIN====================================
.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header-main-fluid {
  background-image: linear-gradient(
    to right bottom,
    #3dcdbc,
    #2bc3c0,
    #22b8c2,
    #27adc1,
    #33a2bd
  );
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 15px;

  > img {
    width: 70%;
    max-width: 260px;
  }
  > div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  > div > h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-align: center;
  }
  > div > p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: 2;
    padding: 15px;
  }
  > div > a {
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 400;
    padding: 13px;
    text-transform: uppercase;
    color: #2bc3c0;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
  }
}
// =============================CLIENTS====================================
.clients {
  background-color: $background-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  > img {
    padding: 30px;
  }
}
// =============================HEADER====================================
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  > h2 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
  }
  > p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    line-height: 2;
  }
  > a {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 400;
    padding: 10px;
    margin: 15px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: rgb(7, 194, 132);
  }
}
.header-grey {
  background-color: $background-grey;
}

.header-dark {
  background-color: $background-dark;
  > h2,
  a {
    color: #fff;
  }
  > p {
    color: $background-grey;
  }
  > a {
    background-color: $background-dark;
    border-style: solid;
  }
}
// =============================OFFERS====================================
.offers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.offer {
  background-color: #fff;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  
  >span{
    font-family: 'icomoon';
  }

  > h2 {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    padding-top: 15px;
  }
  > p {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    padding: 15px;
  }
}

// =============================PRODUCTS====================================
.products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 
  > :first-child {
    background-color: coral;
  }
  > :nth-child(2) {
    background-color: violet;
  }
  > :nth-child(3) {
    background-color: gainsboro;
    height: 440px;
  }
  > :nth-child(4) {
    background-color: lightgreen;
  }
  > :last-child {
    background-color: darkgreen;
  }
  div {
    width: 300px;
    height: 200px;
    margin: 20px;
  }
}

// =============================RECOMENDATIONS====================================
.recomendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $background-grey;
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    > div {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      h3 {
        display: block;
        font-family: "Raleway", sans-serif;
        font-size: 10px;
        font-weight: 300;
        text-align: center;
        line-height: 1.5;
        padding: 15px;
        font-style: italic;
      }
      p {
        display: block;
        font-family: "Raleway", sans-serif;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        line-height: 1.5;
        font-style: italic;
      }
    }
  }
}
.circle {
  display: block;
  background-color: gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
// ==================================MAP====================================
.map {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $background-dark;
  flex-wrap: wrap;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 45px;

    > h2 {
      text-align: center;
      color: #fff;
    }
    > p {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: 300;
      text-align: center;
      line-height: 2;
    }
    > a {
      color: aqua;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 10px;
      padding: 3px;
    }
  }
}
.text {
  color: grey;
}
.contact {
  > p {
    color: aqua;
  }
}
// ==================================FOOTER====================================
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(22, 22, 22);
  flex-wrap: wrap;
}
.footer {
  padding: 5px;
  > p {
    display: block;
    color: gray;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    line-height: 2;
  }
  > a {
    color: aqua;
  }
}
// =============================MEDIA NA KOŃCU====================================
@media (min-width: 576px) {
  .container {
    width: 560px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  // ===HEADER===
  .container {
    width: 960px;
  }
  .header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 15px;
    height: 100vh;

    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      > p {
        text-align: start;
      }
      > a {
        text-align: start;
      }
      > h2 {
        text-align: start;
      }
    }
    > img {
      max-width: 300px;
    }
  }
  // ===PRODUCTS===
 .products{
  height: 500px;
 }
  // ===OFFERS===
  .offers{
    justify-content: space-around;
  }
  .offer{
    >p,h2{
      text-align: left;
      padding:10px;
    }
  }
  // ===RECOMENDATIONS===
  .recomendations {
    justify-content: space-around;
    > div {
      width:50%;
      justify-content: space-around;
    }
  }
  // ====MAP===
  .text {
    width: 50%;
  }
  .map {
    > div {
      > h2,
      p {
        text-align: left;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
